@font-face {
  font-family: "Inter";
  src: url(assets/fonts/inter/Inter-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(assets/fonts/inter/Inter-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: url(assets/fonts/inconsolata/Inconsolata-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: url(assets/fonts/inconsolata/Inconsolata-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url(assets/fonts/lora/Lora-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url(assets/fonts/lora/Lora-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url(assets/fonts/lora/Lora-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
